<div class="product-details-modal modal fade" id="exampleModal33" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            <div class="row" style="margin-top: 23px">
                <div class="col-5">
                    <div class="w-100 modal-img-box">
                        <img src="img/products/furniture/1.png" alt="">
                    </div>

                </div>
                <div class="col-7">
                    <div class="modal-header d-block">
                        <h5 class="modal-title" id="exampleModal3Label">Sunbaby Magic Bear Chair</h5>
                        <p class="card-text ">
                            &#9733 &#9733 &#9734 &#9734 &#9734
                            <span>(0 reviews)</span>
                        </p>
                    </div>
                    <div class="modal-body">
                        <div class="modal-price-base d-inline-block">
                            $350.00
                        </div>
                        <div class="modal-price-sale d-inline-block">
                            $250.00
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="furniture-btn-add bg-dark text-white">
                            <span class="mdi mdi-basket-outline"></span>
                            add to cart</button>
                        <span class="mdi mdi-heart-outline"></span>
                    </div>
                    <div class="description">
                        <h4>Quick Overview</h4>
                        <p>Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed purus augue, eu euis mod tellus. Nam mattis eros tis sagittis. Vestibulum suscipit cursus biben.</p>
                    </div>
                    <div class="modal-footer item-tags d-xl-block">
                        <div>
                            <h4>Availability:<span>In Stock</span></h4>
                        </div>
                        <div>
                        <h4>Category:<span>Furniture</span></h4>
                        </div>

                    </div>

                </div>
                <div class="offset-xl-5 col-xl-7 col-12  details-social-box d-flex justify-content-center">
                    <div class="modal-footer details-social">
                        <div class="details-social-button">
                            <span class="mdi mdi-facebook"></span>
                            <p>Share</p>
                        </div>
                        <div class="details-social-button">
                            <span class="mdi mdi-google-plus"></span>
                            <p>Google+</p>
                        </div>
                        <div class="details-social-button">
                            <span class="mdi mdi-twitter"></span>
                            <p>Tweet</p>
                        </div>
                        <div class="details-social-button">
                            <span class="mdi mdi-pinterest-box"></span>
                            <p>Pinterest</p>
                        </div>
                        <div class="details-social-button">
                            <span class="mdi mdi-linkedin"></span>
                            <p>Linkedin</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>

        </div>
    </div>
