.features {

  &__wrapper > div {
    margin-bottom: 65px;

    @include _1200 {
    margin-bottom: 30px;
    }
  }

  &__item {
    position: relative;
    height: 120px;
    max-width: 262px;
    margin: 0 auto;
    border: 1px solid #b7b7b7;
    text-align: center;

    &:hover &--round-icon {
      background-color: $mainOrange;
      border: 1px solid $mainOrange;
      box-shadow: 0 0 0 6px #fff, 0 0 0 7px $mainOrange;
    }
    &:hover &--title {
      color: #e0a38e;
    }
    &:hover &--subtitle {
      color: #e0a38e;
    }
    &:hover .mdi {
      color: white;
    }

    &--title, &--subtitle {
      font-size: 20px;
      color: $darkBlack;
      text-transform: uppercase;
      line-height: 1.3em;
    }
    &--title {
      font-weight: 600;
      padding-top: 52px;
    }
    &--subtitle {
      font-weight: 300;
    }

    &--odd {
      @include _768 {
        margin: 0 0 0 auto;
      }
      @include _480 {
        margin: 0 auto;
      }
    }
    &--even {
      @include _768 {
        margin: 0 auto 0 0;
      }
      @include _480 {
        margin: 0 auto;
      }
    }
    &--round-icon {
      position: absolute;
      top: -30px;
      left: calc(50% - 60px/2);
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50% 50%;
      border: solid 1px #b7b7b7;
      box-shadow: 0 0 0 6px #fff, 0 0 0 7px #b7b7b7;

      .mdi {
        color: $darkBlack;
        font-size: 26px;
        line-height: 58px;
      }
    }
  }
}